.App {
  margin: 2rem;
}

.inputField {
  color: red;
}

select {
  color: red;
}

.totals {
  color: #99b86c;
}

table, th, td {
  border: 1px solid black;
  text-align: left;
}

th {
  color: rgb(153, 184, 108);
}

input {
  border: none;
  color: red;
}

button {
  background-color: #99b86c;
  margin: 1rem;
}

